<!--<footer class="footer">-->
    <div class="footer fixed-bottom text-center bg-dark">

        <!-- Facebook -->
        <a href="https://www.facebook.com/kirishoru" class="fb-ic">
            <i class="fa fa-facebook-square fa-lg white-text fa-2x"> </i>
        </a>
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/pub/caleb-barger/15/82/54a" class="li-ic">
            <i class="fa fa-linkedin-square fa-lg white-text fa-2x"> </i>
        </a>
        <!-- GitHub -->
        <a href="https://github.com/kirishoru" class="li-ic">
            <i class="fa fa-github-square fa-lg white-text fa-2x"> </i>
        </a>
        <small>© 2018 Copyright:<a href="http://www.kirishoru.com"> Kirishoru.com</a></small>
    </div>

<!--</footer>-->
