body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em .5;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

small {
    font-size: 1rem;
}
