<!doctype html>
<html class="bc-body">

<% include ../partials/head %>

<body>

<% include ../partials/nav_min %>

<!--Start Resume Page Content-->

<div class="container-fluid bc-body">
    <div class="row mb-3"></div>
    <div class="row">


        <div class="col-sm-auto">
            <div id="scroll-list" class="card mb-3 bc-story">
                <a class="list-group-item bc-story">Table of Contents</a>
                <a class="list-group-item list-group-item-action bc-header" href="#list-item-0">Foreword</a>
                <a class="list-group-item list-group-item-action bc-header" href="#list-item-1">Beginnings and
                    Endings</a>
                <a class="list-group-item list-group-item-action bc-header" href="#list-item-2">Endings and
                    Beginnings</a>
                <a class="list-group-item list-group-item-action bc-header" href="#list-item-3">Home to Heroes</a>
            </div>
        </div>

        <!--Start dynamic resume-->

        <div class="col-md">
            <div data-spy="scroll" data-target="#myList" data-offset="0" id="scroll-card">
                <header>
                    <div class="card mb-3 bc-header">
                        <h2 class="card-header">The Relics of Mormesk</h2>
                        <div class="card-body bc-story">
                            <em class="card-text small">by Baelic al Faar, Hero/Devil</em>
                        </div>
                    </div>
                </header>
                <section>
                    <div class="card mb-3 bc-header" id="list-item-0">
                        <h5 class="card-header">Foreword</h5>
                        <div class="card-body bc-story">
                            <p>My name is Baelic al Faar, and I am a Hero</p>
                            <p>…I hope…</p>
                            <p>I record this story in the vain hope that my legacy will be one of good and decency. I
                                pray that my tale will be told to inspire rather than as a warning. But destiny cares
                                not for the wishes of mortals, and though I am long lived, eventually I’ll find myself
                                just as much a victim of time as anyone. At the end of my life, will this account be
                                lost and forgotten? I will tell it anyway, if only for those that traveled with me. They
                                at least deserve to be remembered.</p>
                            <p>The stories of others deserve to be told, but if not by them, then why not by me. I only
                                hope I can do justice to their valor. But how can I convey with mere words the vanity,
                                the foolhardiness, the bullheaded...tenacity? ...The bravery. The pure hearted altruism.
                                The faith and majesty and greatness embodied by them all. Their splendor.</p>
                            <p>I know not. I will simply have to try. Bear with me dear reader; this chronicle will tell
                                the tale of a group of heroes that saved…everything.</p>
                        </div>
                    </div>

                    <div class="card mb-3 bc-header" id="list-item-1">
                        <h5 class="card-header">Beginnings and Endings</h5>
                        <div class="card-body bc-story">
                            <p>In order to begin, I must start at previous endings. As happens to many of my kind, I was
                                abandoned as a babe. As a half-elf, my mixed features were a curse to both my parents. I
                                have no memory of them and know nothing of their trials, but I must judge them harshly
                                for their decision to abandon me near a humble human farming village. Though I have no
                                memory of my parents, I have a great many in that village. A young couple took me in and
                                showed me kindness. They raised me next to their own son. Taught me everything they knew
                                and treated me in all ways as though I was their own flesh and blood. They taught me
                                what it means to be a family.
                            <p>My parents set me down and told me of my abandonment when I they felt I was old enough to
                                understand. I knew of course that I was a different; my almond shaped eyes, slighter
                                frame, and lightly tipped ears set me apart from everyone else in the village. But
                                despite knowing my nature, they continued to treat me as one of their children, and the
                                entire village turned a blind eye to my differences, accepting me as one of their
                                own.</p>
                            <p>The cruelty of my origin did not make itself known until many years later. My kind does
                                not age the same way humans do and it was with great sadness I watched my parents and
                                siblings grow old before my eyes. Eventually I buried my adopted parents when they died
                                of old age, and then later, I buried my brother. The farm went to my brother with the
                                passing of my parents and to his children after him. I worked my family’s fields with my
                                nephews and nieces and then eventually with their children as well. I learned many of
                                the crafts of the village and, leaving the farm to my brother’s descendants, for a time
                                knew a sort of peace as the local leatherworker.</p>
                            <p>My life was a bliss of peace until the day a travelling seer passed through the village.
                                The crone sat in front of what passed for a village tavern, quite honestly, it was just
                                a stoop in front of the chandler's shop and told the fortunes of people for a few
                                pennies. She entertained the locals with bits of fancy - who would marry soon, who would
                                be with child, the bounty of the next harvest. I was just as amused as everyone else.
                                When I took my turn at her hands, I expected more of the same, a successful hobby of
                                woodcarving, or scandalous rumors of some farmer’s daughter fancying the local half-elf.
                                Instead, the moment the old woman's hands touched mine, her eyes went wide, and she
                                spoke reverently of fate.</p>
                            <p>She said that the village son of two races would soon find two paths before him. One
                                would lead to greatness and glory, the path of a hero. The other would lead to ruin of
                                all that he touched, a bane upon the world. Then she said those most cursed words, "It
                                is not for you to know your destiny,” she rasped, “only history will tell if your
                                existence was as a paragon or a plague."</p>
                            <p>I shook my hands free of hers and quickly stepped back. Everyone tried to laugh off the
                                dire telling, to distance themselves from cruel fate, but the festive air had cleared.
                                The villagers all somberly went back to their day and the seer packed her things and
                                left that very night. Two days later, the beginnings of my fortune were forced upon
                                me.</p>
                            <p>--- ---</p>
                            <p>What started as a normal day of straightening up my shop and preparing for the day
                                quickly turned sour when a farmer rushed breathlessly into the square warning everyone
                                about a marauding beast. This wasn't the first time a roaming bear or wolf had required
                                handling and the village was well prepared. The women, children, and elders collected
                                themselves in the square, or sequestered themselves in their homes, while a party of
                                men, me included, organized to meet the threat.</p>
                            <p>As we headed south out of town the men split into two groups. We were to converge on one
                                of the farmhouses that boasted the most chickens, knowing that the flightless birds had
                                often proven to be a tempting snack for dangerous beasts in the past. One group
                                continued southward, the other went east to attempt to circle around uphill from the
                                farm. I was part of the group that continued south. Farmer Adams and I were to take our
                                time so as to not get to the farmhouse before the other group.</p>
                            <p>Our haphazard plan crumbled at the sound of children's screams.</p>
                            <p>A sick feeling opened up in the pit of my stomach and I sprinted toward the farmhouse;
                                Adams yelling at my back that we had to wait for the others. I paid no attention. I
                                rushed across the yard to see the front door of the cottage already broken in and
                                hanging by its hinges, terrified cries coming from within. Running through the ruined
                                door, I saw an orc with greataxe poised above two children. The children no doubt
                                thought the threat was a common one and had tried to get a peek at whatever would eat
                                their chickens. Instead they caught the attention of the evil creature. The beast, its
                                intent never on livestock, had found a tempting target.</p>
                            <p>The orc turned its evil glare in my direction, momentarily distracted from its dark
                                intentions by my entrance. In that moment of distraction, I did the first thing that
                                came to my mind. Terrified of what was before me, I ignored the feeble rake I had armed
                                myself with and grabbed a nearby lantern from its hook. I threw the lantern as hard as I
                                could at the creature and had the brief satisfaction of seeing it hit the creature
                                directly in the face. My elation lasted for only the briefest moment, for the shattering
                                lamp spread lamp oil in a great swath on and around the orc. The flames spread in
                                explosive greed to consume anything the oil touched. The searing heat as the ramshackle
                                hut caught flame was immediate and horrifying.</p>
                            <p>The orc bellowed in pain as the flames scorched its flesh, but to my dread, the loudest
                                screams came from the children.</p>
                            <p>They say that the mind will protect itself from true horror. That may be true for I have
                                no memory of what came after. I am told Adams pulled me from the burning building only
                                moments before it collapsed. The burns on my arms and hands testament that I had tried,
                                in vain, desperately to correct the worst mistake of my life.</p>
                            <p>The next day, in the ruined remains of the farmhouse, the corpse of the perished orc was
                                found. The village mourned as the bodies of two children were found as well. I waited
                                for the looks and blame. I wanted it. I needed it. I craved for the parents to seek
                                justice and vengeance for their lost children. But the orc was blamed for everything. No
                                one looked at me as anything other than a hero. A hero that stood up against an orc with
                                nothing but his bare hands.</p>
                            <p>I could not stand their gratitude. I could not reconcile my faithlessness to a community
                                that had given me so much. Over the next few days, I tried to find a way to tell
                                everyone the truth of what had occurred. But whenever the words started to touch my
                                lips, their blind gratitude would still my tongue. Instead they rallied to help me. They
                                took care of my shop, they brought me food, they tended my burns and gushed gratefulness
                                at every turn. How could I tell them the truth when they thought I was a hero? How could
                                I betray this village that had been so kind to me? My thoughts inevitably went back to
                                the words of the seer. Was I a hero, or was I a plague? Surely the village will remember
                                me as a savior, but what of my soul?</p>
                            <p>As the weeks passed and my burns healed, a sourness began to press on my spirit. The
                                village was no longer a home to me. I could not pass the burnt wreckage of the cottage
                                without hearing the agonized screams. So, I sought the road to escape. I traveled from
                                town to town, running from my shame. My ruined hands and arms mark me wherever I go as
                                someone who has suffered. I can see pity in the eyes of strangers and I secretly wish
                                they could see deeper, to the scars inside.</p>
                            <p>Though not pretty to look upon, my hands eventually gained back all of their former
                                dexterity. I first forced myself to carve wood and work leather until the scars
                                stretched, the pain it brought was a balm to me; sweet penance. But the pain didn’t
                                last, so I forced myself to learn to play the flute, and then anything with a string,
                                the agony of it the only atonement I could find. Now my nimble fingers dance over the
                                strings, keys, and valves of a number of instruments. My clear voice and the sweet notes
                                of my songs a bitter disharmony to the cacophony in my soul. Strangers applaud my
                                stories and songs never knowing why I leave town so quickly. It is because their
                                gratitude stings me like a physical wound.</p>
                            <p>I rejected my fate. I realized that any attempt to meet it will only end in sorrow for
                                those around me. I sought not to be a hero hoping that if I perform no heroic deeds, I
                                invite no catastrophic repercussions. Still, the road has no lack of bandits; my nimble
                                fingers and tongue have entertained many innocent souls, and my dexterous hands and
                                sword have put many of the not-so-innocent to rest in roadside graves. Despite my
                                attempts, I am becoming more recognized wherever I go. Indeed, tales from my village are
                                told in taverns now and I attempt to hide my scars so as to not invite recognition.</p>
                            <p>I still run from my destiny, but if I am destined to be a hero of stories, I can try to
                                minimize the death that comes behind me. I entertain in towns and taverns, telling dark
                                stories and bright tales. I sing of heroism and banditry and use my fair face and silver
                                tongue to earn enough coin to see me on to the next town. But in the night, after those
                                I’ve entertained have gone back safely to their homes, I can still hear the tortured
                                screams of children in my sleep.</p>
                        </div>
                    </div>

                    <div class="card mb-3 bc-header" id="list-item-2">
                        <h5 class="card-header">Endings and Beginnings</h5>
                        <div class="card-body bc-story">
                            <p>No rest will not come this night. Already I can feel the first tendrils of dawn
                                approaching.</p>
                            <p>I rub my tired eyes and look over at the body of my friend. The poison that wracked his
                                body through the night had finally done its work; his last breaths rattled from his
                                tortured lungs hours ago. I had sat in silence for hours, numb to the passing of time.
                                Now his cold form is the only reminder of my purpose here.</p>
                            <p>Here, as it happened, was quite beautiful. I had made a hasty camp at the rim of a vale.
                                A small stream tinkled and weaved brightly across the open landscape. On the other side
                                of the brook, near the center of the vale, a mighty oak, hundreds of years old, rose
                                into the sky. Beneath it a small delicate bridge arched over the stream and beyond rose
                                a small stone dais amidst the waving grass of an otherwise empty field. Atop the dais
                                stood a pedestal lit in golden hues from some unknown source. The object of our – now my
                                – quest, was there.</p>
                            <p>The undeniable beauty of this place was lost to me. The trials of getting here had taken
                                too much. The world was gray, and everything tasted and smelled of ash.</p>
                            <p>All around the edge of the vale was the wall of dark briar forest that made up the
                                terrifying labyrinth our party had traversed. Many long nights in its clutches, and the
                                lives of everyone in the party, had been spent to reach its center and the priceless
                                treasure to be found here.</p>
                            <p>I look again over again at the cold form of my friend. Farrow, a ranger from far north,
                                had found me performing in the town square of Amphail. He’d heard that I was fluent in
                                Halfling and wanted me to do a translation for him. Truth be told, my knowledge of the
                                halfling tongue was only passing, but I was in need of coin and saw no reason to commit
                                to truth-telling for a complete stranger.</p>
                            <p>He had shown me a ridiculously small leather scroll with ancient writing on it. My
                                curiosity and the promise of payment got the better of me; I could not at the time
                                imagine what treasure would cause a halfling to record something forever on a scroll…and
                                then not keep that treasure for themselves. But the scroll told of an ancient and
                                terrible labyrinth with a priceless artifact at its center, the labyrinth itself
                                promised death and doom to all that entered it. Halflings may not be able to resist
                                treasure, but they generally avoid doom.</p>
                            <p>Farrow admitted that he was looking to gather a group to help track down this ancient
                                artifact. He himself had been commissioned by a fringe scholar of Halfling history named
                                Kwalish. Kwalish had traced this particular myth for decades but was now too old to
                                undertake the required travels to obtain it. Kwalish found Farrow, and then Farrow had
                                found me. He told me that he had heard tales of my heroism and that I seemed like a
                                perfect first addition to his party.</p>
                            <p>My curse is insidious. Only tales of my heroism are told and not a word of the death that
                                comes with it.</p>
                            <p>I sensed another opportunity to prove that my existence was more boon than bane to this
                                world and so I agreed to help Farrow assemble his group. Over the next few days we
                                recruited from local guilds and taverns and found ourselves accompanied by as rowdy a
                                group of adventurers as had ever existed. They were fairly exuberant to go on a quest
                                for a fabled artifact.</p>
                            <p>After outfitting ourselves as best we knew, we set off into the wild searching for the
                                foul labyrinth. For a time, I was happy and free of dread. Our travels were successful,
                                and the challenges easily overcome. Those days seem so far away now. Though it has only
                                been a span of days, perhaps a handful of weeks, I was lighthearted and free of fear. I
                                even thought I might be able to look back on these days and enjoy a drink with these
                                rough people. I would have called them all my friends, even the druid and her absurd
                                crow…I would have…if they had survived.</p>
                            <p>--- ---</p>
                            <p>When we first approached the labyrinth, I experienced a sick feeling in my bones and I
                                knew. From the moment I saw its cursed gates, I knew that my fate again had reared its
                                head. I trembled in fear at what would become of my new comrades, of my new friend
                                Farrow. Despite the ancient warning, Farrow determinedly focused on moving ahead. The
                                rest of us having no purpose without him, resolutely prepared to follow. We entered the
                                gates.</p>
                            <p>Of the days and nights spent in that dark maze, most will remain unspoken. There is no
                                daylight under the dark boughs of the labyrinth, so our first night spent in its
                                clutches became one long endless night of terror. The first to fall, seemingly only
                                hours after entering the dark gates, was our Druid. A wight surprised us in the darkness
                                and before we even know of the danger, she was gone. The time blurred even more as we
                                fled ever onward to the center of the maze. Danger and tragedy around every corner. The
                                very maze itself seemed to be hunting us, leading us, tempting us with brief succor,
                                before striking at us from the darkness, deadly and terrible. Eventually every one of
                                our party fell, but Farrow and I remained. I could see the look in the eyes of my
                                friend. Determination. Resignation. He knew we would not survive this journey. I knew
                                that one of us likely would, and I mourned.</p>
                            <p>At long last, we came round a corner and beheld the exit. A dark arch, lit from beyond,
                                promising safety and journeys end. After the trials we had suffered, even Farrow was
                                coming to the end of his bravery. He fairly sobbed with relief to see the gates and
                                stuttered into a run. But the labyrinth is nothing if not cunning. A creature seemingly
                                made of wind and poison and terror whirled into existence nearby and sought to destroy
                                the last of our hope.</p>
                            <p>In the battle with the elemental that ensued, only pure luck allowed us to escape; I
                                unscathed, Farrow, fatally poisoned. I dragged his insensible form through the gates and
                                made a hurried camp. I tried desperately to save him, using every medicine, spell, and
                                bit of herblore I knew. But as the night dragged on, and the fire grew dimmer, and as he
                                grew weaker, my meager hope dwindled…and my friend breathed his last just moments before
                                dawn, when everything was darkest. My fate is tragically poetic.</p>
                            <p>Now I lift my eyes from the face of Farrow and see the sky beginning to lighten. I stand
                                up and dust off my legs, gather my belongings, and prepare to end this ill-fated quest.
                                As the first breath of light simmers over the horizon, I walk down into the vale toward
                                the great tree there. Its boughs firm and unswaying. A light breeze rustles it
                                leaves.</p>
                            <p>The tinkling brook babbles lightly in the cool air as I walk under the tree toward the
                                bridge. A filigreed construction of silver and crystal, the bridge sings in the sighing
                                breeze, a beautiful counterpoint to the brook it spans. As I cross the bridge, I am
                                blind to the wonder of its construction or beauty. My eyes focus on the end of my quest;
                                the stone dais in the field beyond.</p>
                            <p>As I approach the dais, I see a set of crude stairs ascending one side and make my way
                                there. The steps themselves and even the platform are unremarkable in form, the only
                                notable thing being their presence in this place of beauty at the center of this larger
                                place of horror. Thoughts of completing my quest for the distant Kwalish are faint in my
                                mind. I no longer care. I climb the steps and walk to the pedestal at the center.</p>
                            <p>And I laugh.</p>
                            <p>Atop the simple marble plinth lies the most beautiful instrument my eyes have ever seen.
                                A dulcimer of surpassing beauty and undeniable magic. The golden body and delicate arch
                                of its neck complimenting a perfect set of silver strings that fairly hummed with
                                anticipation and potential. A faint, almost invisible golden glow emanated from its
                                risonanza. After every trial, after every death, and every torment, to present me with
                                this most perfect of bardic instruments. Surely my curse is mocking me.</p>
                            <p>Once again my presence has brought destruction. Once again I find myself the unlikely
                                hero. The one that survives beyond all hardships and trials.</p>
                            <p>I sigh in resignation. I can no more resist this most perfect object than I could resist
                                breathing, or gravity. I can feel it pulling at me. I can hear it calling to me. I feel
                                as though I’m falling toward it and I watch my hands reach out to grasp its perfect
                                neck. I pull the dulcimer to me and cradle it in my arms before setting my hands and
                                striking a perfect chord on its perfect strings. The perfect golden sound that results
                                doesn’t seem to even come from the instrument but emerges from the air and the ether and
                                the heavens…and then everything disappears.</p>
                        </div>
                    </div>

                    <div class="card mb-3 bc-header" id="list-item-3">
                        <h5 class="card-header">Home to Heroes</h5>
                        <div class="card-body bc-story">
                            <em class="card-text small">2019.02.15</em>
                            <p>When the room formed from the nothingness around me, the first thing I noticed was that
                                the dulcimer was gone. This did not surprise me. What did surprise me as I looked down
                                was that the burns on my arms and hands were completely healed, no trace remained. Even
                                that one bit of justice has been denied me. Now there is nothing to remind me of my
                                darkest deeds. No punishment for my crimes.</p>
                            <p>I bitterly mused about the cruelty of my path and then looked up to find myself in
                                strange, but not unfamiliar, surroundings. Office-like in nature, though of a design
                                I’ve never encountered. A strangely smooth ceiling and four comforting walls marked by
                                two doors in the wall opposite me, and a set of double doors in the wall to my right.
                                Several people in neat yet bizarre garments occupied a number of chairs against the two
                                walls not marred by doors. The room contained several low tables between some of the
                                chairs with brightly colored bits of paper spread atop them in a way that attempted, but
                                failed, to be decorative. The setting seemed altogether like some form of reception room
                                for a guildhall, though of what profession I could not say. Next to a glass tank
                                containing several colorful fish, a man sat at a desk clearly making an effort to
                                pretend he was the only person in the room. The clerk, if that is his profession, sat
                                studiously staring at a box-shaped object with some form of magical light coming from
                                the side facing him despite the presence of the motley crew all muttering in the various
                                chairs around the room. There are some things that will always remain the same.</p>
                            <p>The various people in the room all began talking at once and I was hard pressed to keep
                                up with what was being said. The most spirited discussion seemed to be coming from one
                                group and it became clear that five of these folk had arrived together, though, I must
                                admit, I questioned if their sanity had survived the journey intact.</p>
                            <p>While the five argued and frantically tried to make sense of their situation, one of the
                                silent chair occupants stood and approached the man at the desk. He had a quick but
                                clear conversation where the clerk named himself “Chad” and let the man know that if we
                                wanted to leave, all he had to do was exit through the double doors.</p>
                            <p>The five stopped talking abruptly as soon as Chad began to talk and then turned as one to
                                watch the man stride to the doors, throw them open, and hastily step through.</p>
                            <p>On the other side of the doors was madness.</p>
                            <p>A swirling vortex of color and dark and light that defied description or belief. No
                                hallway or fading of vision, as if the fabric of existence had been cut away in the
                                square shape of a door. The few moments that my eyes were exposed to that chaos was
                                enough to set my head reeling and my stomach churning. Chad had told the man that
                                through the doors was “anywhere he wanted to go”, but the thought of stepping through
                                did not seem like an act of sanity.</p>
                            <p>The doors slowly swung back on their own, a near silent click as they closed, and the
                                room was back to its mundane self again. The group of five was silent for a mere moment
                                before they all collectively confronted Chad demanding to know what was going on. With a
                                calm that clearly spoke of years of professional service dealing with the frantic and
                                desperate, Chad loudly talked over everyone saying that we had been selected for our
                                heroism and that “Duncan” would soon make everything clear.</p>
                            <p>Hearing this, and not wanting to spend too much time thinking about the doors leading to
                                chaos, I resigned myself to waiting. As it happened, all of my gear and equipment had
                                made the transition to the room with me, so I brought out my lute, briefly tuned the
                                strings, and began to play a light but jaunty tune about boredom. Despite the strange
                                circumstances, two of the people in the room decided the join me in my time wasting by
                                dancing to my half-hearted strumming. The halfling in particular seemed to make an
                                effort to dance sensually in my direction, but I averted my gaze not wanting to
                                encourage him.</p>
                            <p>Around us, several of the people continued to argue amongst themselves about what to do,
                                occasionally berating Chad for not providing them more information, while others waited
                                patiently in their chairs. One of them seemed happy to simply smile and nod along with
                                my music. Eventually, one of the people seemed on the verge of abandoning his comrades
                                and turned toward the double doors. My fingers briefly faltered at the thought of
                                seeming that maelstrom again, but before he could open them, one of the doors behind
                                Chad opened up and a well-dressed charismatic man stepped through.</p>
                            <p>Conversation in the room stopped as the newcomer introduced himself as Duncan. Duncan
                                wore a smartly lined set of pants and odd jacket of a matching color, a tightly closed
                                collared shirt, and a bright length of fabric knotted around his neck. His strong jaw
                                was thinly covered in a light dusting of beard as though he hadn’t seen a razor in
                                several days, but for some reason the effect was rugged and handsome rather than
                                slovenly. All in all, he was an impressive sight. Clearly someone who was used to the
                                rougher side of the road and had only recently stepped away from adventuring himself. He
                                invited us all to come to his office where he would explain everything.</p>
                            <p>I get slightly ahead of myself. I should take a few minutes to describe the important
                                others in the room.</p>
                            <p>Jephanie Pepsi was a human and I could easily predict that she was familiar with a fight
                                and could hold her own without trouble. Of all the assembled, she also seemed to be the
                                only person present that was concerned with the “why” of our situation.</p>
                            <p>There was also a bald human named simply ‘Q’. He had almost left the waiting room through
                                the maelstrom before Duncan had arrived. I could tell his impatience and impetuousness
                                would cause trouble eventually.</p>
                            <p>A Dwarf named Mardred, or Margret, confused me at first. I couldn’t quite tell their name
                                as they seemed to not know themselves. The dwarf was a weak and spineless creature
                                altogether inconsistent with the hearty race I knew. Perhaps this was a different race
                                altogether. I hoped they would surprise me.</p>
                            <p>The one that caused me the most disquiet was Adrien the elven wizard. With his high
                                collar and low hood, I couldn’t tell immediately of what elven race he belonged, but I
                                suspected him to be a High Elf. Knowing the feelings of elves in general and high elves
                                specifically towards my own race, I worried what trouble this might bring.</p>
                            <p>The rowdy halfling was named Roscoe, and though I questioned his sanity -- he appeared to
                                be only wearing some form of brightly colored loincloth and boots, like some gaudy
                                troupe fool playacting as an effeminate barbarian -- this wasn’t all that different from
                                other halflings I had met in my travels. They are a uniquely insane race. I enjoyed a
                                brief conversation with him as we walked, even going so far as to mention my curse,
                                knowing that no one would believe this deranged creature anyway.</p>
                            <p>Two others walked with us down the hall, but I paid them no heed as they stuck to
                                themselves and did not deign to speak to the rest of the party. I had no knowledge of
                                what had brought this group together in the first place or what bizarre providence had
                                placed me in their midst so soon after the death of my friend. Loss and acceptance being
                                my constant companion for the last several decades, I vowed to quickly catch up to what
                                was happening around me and not be a hindrance. I would do my best to ensure my curse
                                did not make victims of this group.</p>
                            <p>After a short walk down the solemnly lit hallway, we came to a solid door. Duncan opened
                                it and ushered us all into a spacious office. The office itself was well appointed with
                                several tasteful chairs for guests. One wall was covered in a floor to ceiling bookshelf
                                containing numerous volumes of unknown content as well as several knickknacks and
                                memorabilia, no doubt from Duncan’s adventured past. The room was dominated by a
                                spacious expanse of desk, clearly made of the finest and rarest wood. Its surface
                                sparsely occupied by a neat stack of papers, a cylinder containing an odd assortment of
                                strange quills, and a box-like object similar to the one that Chad the clerk had been
                                viewing in the previous rooms.</p>
                            <p>After we’d all settled in on one chair or another, Duncan began to tell us of the
                                relics.</p>
                            <p>The relics, the known ones at least, were discovered accidentally centuries ago by Duncan
                                himself. When he arrived in this place-in-between-planes, an elder being greeted him and
                                taught him how to use the relics. Duncan was taught that the relics contained a great
                                power; the ability to transfer a person across the planes of existence. But even more,
                                they opened up to a seemingly infinite number of planes. The thought of more planes that
                                even described by the great wheel made my head spin. I couldn’t even remember all of the
                                26!</p>
                            <p>These planes, Duncan continued, are infinite in their variety, and besides being able to
                                move people from plane-to-plane, the relics have the ability peer into these planes and
                                observe. Even more, they have to ability to impart a measure of control of the
                                circumstances of a person’s travel and arrival. My mind balked at this, though I could
                                understand how travelling to another plane might alter a person’s being, I couldn’t
                                understand how the traveler might alter the plane itself before arriving.</p>
                            <p>Eventually, after spending many years searching for relics, Duncan returned to the
                                place-in-between-planes to find that the Elder was no longer present. Not knowing what
                                to do next, Duncan started the organization which occupies the building I currently find
                                myself. Here, in the organization which he calls “HeroFlix”, Duncan and his guild
                                control all of the known relics and continue searching for more. I have no understanding
                                of their skill or trade, but Duncan says that he sells stories across the infinite
                                planes; stories of heroes, and more specifically, stories of a specific kind of hero;
                                Relic Hunters.</p>
                            <p>The selling of stories is something I fundamentally understand and so I found myself
                                listening intently to Duncan’s words, but though Duncan might be a seller of stories,
                                and appears to be a man of integrity, something sinister began to infiltrate my
                                thoughts. These relics are too powerful for one man, or even one organization to
                                control. I even went so far as to ask Duncan about the danger they represent.
                                Malevolence is common to all the planes, regardless of their orientation on the wheel,
                                and if one malicious being gains control of a relic, they may use them to bring
                                destruction to all of creation.</p>
                            <p>Despite controlling numerous relics and the organization spending centuries tracking down
                                many of them, Duncan admitted that an unknown number of relics remain undiscovered. Our
                                own arrival in the waiting room was the result of uncatalogued relics. Duncan is in
                                desperate need of help. Mormesk, though a benevolent mage while in the purgatory that is
                                the guildhalls, was actually a malign spirit, a wraith, when in the corporeal planes.
                                Mormesk was the first to discover and use the previously unknown relic in the Wave Echo
                                Cave, a place unfamiliar to me, but based on the reactions of the others in the room, a
                                place of meaning to them. The realization that the undead could find and use the relics
                                gave even more credence to my thought that these relics were a discovery not meant for
                                mortals, or even this existence.</p>
                            <p>Once an expert on relics, Mormesk could be counted on as valuable resource for hunting of
                                them. But centuries of researching relics in the in-between has taken its toll. The call
                                of the elder relics could not be denied. Where once his corporeal self could be counted
                                on to control his actions, over time his undead form exerted more and more influence.
                                Mormesk started to use the relics to travel. He would go out amongst the planes, and
                                once beyond the protections afforded by the in-between, his undead form controlled his
                                actions more than his rational mind. He would return to the baleful actions of his more
                                evil self. Duncan confessed that it has been a long time since anyone has seen Mormesk
                                and he fears the worst, that Mormesk has started hunting relics for himself, or worse,
                                on behalf of someone, or something, more sinister.</p>
                            <p>Duncan then asked for our help. Will we help him find the unknown relics? Will we be
                                heroes for his cause? Will we become Relic Hunters?</p>
                        </div>
                    </div>

                    <div class="card mb-3 bc-header">
                        <h5 class="card-header">To Be Continued</h5>
                        <div class="card-body bc-story">
                            <em class="card-text small">...</em>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <!--end dynamic resume-->
    </div>

</div>

<!--End Resume Page Content-->

<script type="text/javascript" src="../../public/js/baelic.js"></script>

<% include ../partials/foot_min %>

</body>
</html>