<!doctype html>
<html>

<% include ../partials/head %>

<body>

<% include ../partials/nav_min %>

<!--Start Resume Page Content-->

<div class="container-fluid">
    <div class="row mb-3"></div>
    <div class="row">

        <!--Start dynamic resume-->

        <div class="col-md">
            <div data-spy="scroll" data-target="#myList" data-offset="0" id="scroll-card">
                <header></header>
                <section></section>
            </div>
        </div>

        <!--end dynamic resume-->
    </div>

</div>

<!--End Resume Page Content-->

<script type="text/javascript" src="../../public/js/resume.js"></script>

<% include ../partials/footer %>

</body>
</html>