<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
<% include ../partials/nav %>

<div class="container-fluid">
    <div class="row mb-3"></div>
    <section name="jumbotron">
        <div class="jumbotron text-center">
            <h1>I Have Never Been A Good Developer</h1>
            <div class="card-body text-left">
                <p class="mb-2">PERSON: Hey Caleb, this website SUCKS!!!</p>
                <p>CALEB: I know. This was just meant to be a place for me to practice my meager skills and
                    dump my resume. Sometimes I redevelop whole portions of it for no reason at all; it's all basically
                    a giant experiment. Don't read into it too much.</p>
            </div>
            <!--<button type='button' class='btn btn-block' id='btnTMP'>TEMP</button>-->

        </div>
    </section>
</div>

<% include ../partials/footer %>
<!--<script type="text/javascript" src="../../public/js/script.js"></script>-->

</body>
</html>